:root{
    --bg: #4c4e50;
    --bg-def: #ffffff;
    --bg-sec: #e1e3e5;
    --accent: #157698;
    --head-link: #333333;
    --text: #666666;
    --h1: #A9A9A9;
    --letter-spacing: 0.05em;
    --main-text: #4F4F4F;
}

html,
body{
    box-sizing: border-box;
    scroll-behavior: smooth;
}    
*,
*::after,
*::before{
    box-sizing: inherit;
}
    
ul,
ol {
    padding: 0;
}
    
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
    
ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
a{
    text-decoration: none;
}
.body-wrapper{
    overflow: hidden;
}
.left-menu {
    height: 50px;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;
    width: 50px;
    overflow: hidden;
    -webkit-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    -o-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.left-menu.openMenu {
    height: 100%;
    background-color: #00838f;
}
.hamburger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc107;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
    position: relative;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.hamburger.open {
    background-color: #FF637F;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    margin-left: auto;
}
.hamburger:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.hamburger span {
    width: 60%;
    height: 3px;
    background-color: #000;
    display: block;
    border-radius: 1px;
    float: left;
    margin-left: 20%;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.hamburger span:nth-child(1) {
    margin-top: 13px;
}
.hamburger span:nth-child(2) {
    margin-top: 3px;
}
.hamburger span:nth-child(3) {
    margin-top: 3px;
}
.open span:nth-child(1) {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    position: absolute;
    top: 5px;
    right: 8px;
    width: 25px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 10px;
}
.open span:nth-child(2) {
    background-color: #fff;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    margin-top: 18px;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
}
.open span:nth-child(3) {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    margin-top: 0;
    position: absolute;
    top: 18px;
    right: 8px;
    width: 25px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 10px;
}
.openMenu {
    width: 290px;
    overflow: hidden;
    -webkit-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    -o-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}
.left-menu__list {
    margin-top: 70px;
    list-style: none;
    padding: 0;
}
.left-menu__list li {
    width: 290px;
    line-height: 72px;
    text-transform: uppercase;
    color: var(--bg-def);
    font-size: 33px;
    position: relative;
    transition: all .3s;
}
.left-menu__list li:hover{
    padding-left: 25px;
}
.left-menu__list li:hover::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 65px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-def);
}
.left-menu__list li:hover {
    background-color: #00bcd6;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    cursor: pointer;

}
.left-menu__list li a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
}
.left-menu__list li a span {
    text-decoration: none;
    color: #fff;
    width: 100%;
}
.dropdown-list li a span {
    padding-left: 30px;
}
.left-menu__list i.fa {
    font-size: 25px;
    padding: 10px;
    width: 50px;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    min-width: 320px;
    /* overflow-x: hidden; */
    letter-spacing: 0.03em;
    color: var(--text);
    font-size: 16px;
    font-style: normal;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 47px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color: var(--accent);
    padding-left: 53px;
    position: relative;
}
.title::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 65px;
    left: 0;
    top: 0;
    background-color:var(--accent);
}
.header{
    background: #4c4e50; /* Old browsers */
    background: -moz-linear-gradient(left, #4c4e50 40%, #ffffff 41%, #ffffff 41%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4c4e50 40%,#ffffff 41%,#ffffff 41%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4c4e50 40%,#ffffff 41%,#ffffff 41%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4e50', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    position: relative; 
}
.header::before{
    content: "";
    position: absolute;
    border-bottom: 115px solid var(--accent);
    width: 100%;
    height: 115px;
    background-color: var(--accent);
    bottom: -115px;
    left: 30%;
}
.container{
    max-width: 2160px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.header__wrapper{
    display: flex;
}
.avtar{
    max-width: 642px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.avatar__img{
    max-width: 528px;
    max-height: 475px;
    box-sizing: content-box;
    outline: 115px solid var(--accent);;
}
.info{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-def);
    padding: 197px 0 0 108px;
}
.info__name{
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
}
.info__name-first{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 117px;
    color: var(--accent);
}
.info__name-second{
    display: inline-block;
    font-weight: 300;
    letter-spacing: 0.005em;
    color: var(--h1);
}
.info__prof{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.005em;
    color: var(--accent);
}
.info__contact{
    display: flex;
    max-width: 1227px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0 33px;
}
.info__contact-item:nth-child(odd){
    margin-bottom: 60px;
}
.info__contact-link{
    display: flex;
    align-items: center;
    color: var(--accent);
}
.info__contact-svg{
    width: 48px;
    height: 48px;
    margin-right: 36px;
}
.info__contact-svg path{
    fill: var(--accent);
}
.info__contact-text{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.03em;
}

.main{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e1e3e5 51%, #e1e3e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e1e3e5 51%,#e1e3e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e1e3e5 51%,#e1e3e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e3e5',GradientType=1 ); /* IE6-9 */
}
.main__wrapper{
    display: flex;
}
.main-left{
    max-width: 642px;
}
.profile{
    padding-top: 200px;
}
.profile__text{
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    line-height: 56px;
    letter-spacing: 0.03em;
    margin-top: 80px;
}
.profile__items{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    letter-spacing: var(--letter-spacing);
    color: var(--main-text);
    margin-top: 68px;
}
.profile__item{
    line-height: 41px;
    margin-bottom: 35px;
}
.profile__item-link{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: var(--main-text);
}
.profile__item-svg{
    margin-right: 30px;
    height: 30px;
}
.education{
    margin-top: 115px;
    margin-bottom: 100px;
}
.education__items{
    margin-top: 80px;
}
.education__item{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 55px;
}
.education__item-prof{
    font-weight: 700;
    font-size: 33px;
    line-height: 49px;
    text-transform: uppercase;
    color: var(--head-link);
    margin-bottom: 20px;
}
.education__item-date{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #999999;
    display: block;
    margin-top: 5px;
    padding-left: 60px;
    position: relative;
}
.education__item-date::before{
    content: "";
    position: absolute;
    width: 46px;
    height: 6px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #999999;
}
.education__item-inst{
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    line-height: 39px;
    color: var(--text);
}
.lang__items{
    margin-top: 80px;
}
.lang__item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.lang__item-ico{
    width: 45px;
}
.lang__item-country{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: var(--head-link);
    margin-left: 30px;
}

.main-right{
    background-color: var(--bg-sec);
}
.skill{
    padding-top: 200px;
}
.skill__items{
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill__item{
    font-family: 'Poppins', sans-serif;
    max-width: 540px;
    width: 100%;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: var(--head-link);
    margin-bottom: 70px;
    position: relative;
    padding-left: 40px;
}
.skill__item::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--accent);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.project__item{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.project__item-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 49px;
    color: var(--head-link);
    max-width: 420px;
    width: 100%;
    text-align: right;
}
.project__item-title:hover{
    text-decoration: underline;
}
.project__item-inner{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding-left: 100px;
}
.project__item-subtitle{
    font-weight: 700;
    font-size: 35px;
    color: var(--accent);
    margin-bottom: 42px;
}
.project__item-text{
    font-weight: 400;
    font-size: 33px;
    line-height: 50px;
    color: var(--text);
}
.project__item-disc{
    position: relative;
    padding-left: 40px;
}
.project__item-disc::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 6px;
    background-color: var(--text);
}
.experience{
    margin-top: 110px;
}
.experience__items{
    display: flex;
    margin: 60px 0 60px 0;
}
.experience__item{
    width: 50%;
}
.experience__item-left{
    text-align: right;
    padding-right: 30px;
}
.experience__item-right{
    text-align-last: left;
    padding-left: 30px;
}
.experience__item-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 33px;
    line-height: 49px;
    color: var(--head-link);
    text-align: right;
}
.experience__item-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: var(--accent);
}


.footer{
    background-color: var(--bg);
    padding: 80px 0 80px 0;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: var(--accent);
}
.footer__rsschool-svg{
    width: 200px;
}
.footer__rsschool-svg path{
    fill: var(--accent);
}
.footer__wrapper .info__contact-svg{
    width: 100px;
    height: 100px;
}
.code{
    max-width: 570px;
    padding-top: 70px;
}
.code.hljs {
    background: rgb(255, 255, 255);
}

@media (max-width: 2100px){
    .header{
        background: #4c4e50; 
        background: -moz-linear-gradient(left, #4c4e50 41%, #ffffff 01%, #ffffff 41%);
        background: -webkit-linear-gradient(left, #4c4e50 41%,#ffffff 40%,#ffffff 41%);
        background: linear-gradient(to right, #4c4e50 41%,#ffffff 40%,#ffffff 41%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4e50', endColorstr='#ffffff',GradientType=1 );
    }
    .container {
        max-width: 1170px;
        padding: 0 15px;
    }
    .info__name-first {
        font-size: 55px;
        line-height: 50px;
    }
    .info__prof {
        font-size: 24px;
        line-height: 28px;
    }
    .info__contact-text {
        font-size: 16px;
        line-height: 20px;
    }
    .avatar__img {
        outline: 50px solid var(--accent);
        width: 60%;
    }
    .header::before {
        border-bottom: 50px solid var(--accent);
        height: 50px;
        bottom: -50px;
        left: 50%;
    }
    .info {
        padding: 130px 0 0 30px;
    }
    .info__name {
        margin-bottom: 40px;
    }
    .info__contact-item:nth-child(odd){
        margin-bottom: 0;
    }
    .info__contact-item{
        padding-bottom: 20px;
    }
    .info__contact-svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .main{
        background: #ffffff; 
        background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #e1e3e5 50%, #e1e3e5 100%);
        background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#e1e3e5 50%,#e1e3e5 100%);
        background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#e1e3e5 50%,#e1e3e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e3e5',GradientType=1 );
    }
    .title {
        font-size: 30px;
        line-height: 40px;
        padding-left: 30px;
    }
    .title::before {
        width: 15px;
        height: 40px;
    }
    .profile__text {
        font-size: 21px;
        line-height: 35px;
        margin-top: 35px;
    }
    .main-left {
        max-width: 590px;
        padding-right: 10px;
    }
    .profile__items {
        margin-top: 25px;
        font-size: 20px;
    }
    .profile {
        padding-top: 130px;
    }
    .profile__item {
        margin-bottom: 10px;
        line-height: 25px;
    }
    .profile__item-link {
        display: flex;
        align-items: center;
    }
    .education {
        margin-top: 60px;
        margin-bottom: 80px;
    }
    .education__items {
        margin-top: 50px;
    }
    .education__item {
        margin-bottom: 30px;
    }
    .education__item-prof {
        font-size: 22px;
        line-height: 28px;
    }
    .education__item-date {
        font-size: 21px;
        line-height: 30px;
    }
    .education__item-inst {
        font-size: 21px;
        line-height: 28px;
    }
    .lang__item {
        margin-bottom: 0;
    }
    .lang__item-ico {
        width: 30px;
    }
    .lang__item-country {
        font-size: 21px;
        line-height: 28px;
        margin-left: 20px;
    }
    .skill {
        padding-top: 130px;
    }
    .skill__item {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
    }
    .skill__items {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 30px;
    }
    .project__item{ 
        margin-top: 50px;
    }
    .project__item-title {
        font-size: 26px;
        line-height: 30px;
        max-width: 220px;
    }
    .project__item-subtitle {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .project__item-text {
        font-size: 20px;
        line-height: 28px;
    }
    .project__item-disc::before {
        width: 10px;
        height: 3px;
    }
    .project__item-disc {
        padding-left: 30px;
    }
    .project__item-inner {
        padding-left: 25px;
    }
    .experience__items {
        margin: 30px 0 30px 0;
    }
    .experience__item-title {
        font-size: 22px;
        line-height: 28px;
    }
    .experience__item-subtitle {
        font-size: 22px;
    }
    .footer {
        padding: 40px 0 40px 0;
    }
    .footer__rsschool-svg {
        width: 100px;
    }
    .footer__copy {
        font-size: 22px;
        line-height: 26px;
    }
    .footer__wrapper .info__contact-svg {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1170px){
    .left-menu__list li {
        width: 240px;
        line-height: 55px;
        font-size: 24px;
    }
    .openMenu {
        width: 240px;
    }
    .info__name-first {
        font-size: 40px;
        line-height: 40px;
    }
    .avtar {
        max-width: 450px;
    }
    .header::before {
        border-bottom: 30px solid var(--accent);
        height: 30px;
        bottom: -30px;
        left: 40%;
    }
    .avatar__img {
        outline: 30px solid var(--accent);
    }
    .info {
        padding: 60px 0 0 30px;
    }
    .info__name {
        margin-bottom: 20px;
    }
    .info__contact {
        padding: 0 0 0 15px;
        flex-direction: column;
    }
    .main{
        background: none;
    }
    .main-left {
        max-width: 500px;
    }
    .title {
        font-size: 22px;
        line-height: 26px;
        padding-left: 20px;
    }
    .title::before {
        width: 8px;
        height: 26px;
    }
    .profile {
        padding-top: 80px;
    }
    .profile__text {
        font-size: 16px;
        line-height: 24px;
        margin-top: 22px;
        max-width: 425px;
    }
    .profile__item-svg {
        margin-right: 10px;
        height: 15px;
    }
    .profile__items {
        font-size: 16px;
    }
    .education {
        margin-bottom: 50px;
    }
    .education__item-prof {
        font-size: 17px;
        line-height: 20px;
    }
    .education__item-date::before {
        width: 23px;
        height: 3px;
    }
    .education__item-date {
        font-size: 16px;
        line-height: 20px;
        padding-left: 35px;
    }
    .education__item-inst {
        font-size: 16px;
        line-height: 20px;
    }
    .lang{
        padding-bottom: 30px;
    }
    .lang__items {
        margin-top: 30px;
    }
    .lang__item-ico {
        width: 20px;
    }
    .lang__item-country {
        font-size: 16px;
        line-height: 20px;
        margin-left: 15px;
    }
    .main__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .main-right {
        background-color:transparent;
        order: -1;
    }
    .skill {
        padding-top: 80px;
    }
    .skill__item {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
        padding-left: 25px;
    }
    .skill__item::before {
        width: 13px;
        height: 13px;
    }
    .project__item {
        margin-top: 40px;
    }
    .project__item-title {
        font-size: 18px;
        line-height: 20px;
        max-width: 100%;
        text-align-last: left;
    }
    .project__item-subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .project__item-text {
        font-size: 16px;
        line-height: 20px;
    }
    .experience {
        margin-top: 60px;
    }
    .experience__item {
        width: 100%;
    }
    .experience__item-title {
        font-size: 18px;
        line-height: 20px;
    }
    .experience__item-subtitle {
        font-size: 16px;
    }
    .experience__items {
        margin: 20px 0 20px 0;
    }
    .footer {
        padding: 20px 0 20px 0;
    }
    .footer__rsschool-svg {
        width: 70px;
    }
    .footer__copy {
        font-size: 16px;
        line-height: 20px;
    }
    .footer__wrapper .info__contact-svg {
        width: 30px;
        height: 30px;
    }
    .skill__items {
        justify-content: space-around;
        flex-direction: column;
        padding-left: 0;
    }
    .code{
        padding-top: 25px;
    }
    .code pre{
        margin-top: 0;
    }
    .code .hljs{
        padding: 0;
        overflow-x: hidden;
        font-size: 13px;
    }
}
@media (max-width: 868px){
    .header{
        background: var(--bg);
    }
    .header::before {
        background: none;
        border-bottom:none;
    }
    .avtar{
        padding-top: 25px;
    }
    .avatar__img{
        outline: none;
        min-width: 190px;
    }
    .info{
        background-color: transparent;
        padding: 60px 0 0 20px;
    }
    .info__name {
        margin-bottom: 10px;
    }
    .info__name-first {
        font-size: 30px;
        line-height: 30px;
        color: var(--bg-def);
    }
    .info__prof {
        font-size: 16px;
        line-height: 20px;
        color: var(--bg-def);
    }
    .info__contact {
        padding: 0 0 0 0;
    }
    .info__contact-text{
        color: var(--bg-sec);
    }
    .info__contact-svg {
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }
    .info__contact-svg path{
        fill: var(--bg-def);
    }
    .info__contact-text {
        font-size: 14px;
        line-height: 17px;
    }
    .info__contact-item {
        padding-bottom: 10px;
    }
}
@media (max-width: 522px){
    .header__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .avtar{
        justify-content: center;
        padding-top: 25px;
    }
    .info {
        padding: 20px 0 0 0px;
    }
    .skill {
        padding-top: 30px;
    }
    .skill__items {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .profile {
        padding-top: 40px;
    }
}
@media (max-width: 470px){
    .project__item {
        flex-direction: column;
    }
    .project__item-inner {
        margin-top: 15px;
    }
    .code .hljs {
        font-size: 10px;
    }
}